.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .error_container {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5rem;

    .close_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e74c3c;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-200);
    padding: 20px 20px;
    border-radius: 15px;
    // color: var(--primary-200);

    .key {
      font-size: 50px;
      margin-bottom: 20px;
      color: var(--primary-200);
      font-family: "Poppins";
    }

    h1 {
      font-size: 30px;
      margin-bottom: 15px;
      font-family: "Poppins";
    }

    p {
      font-size: 18px;
      margin-bottom: 30px;
      font-family: "Poppins";
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      input {
        width: 100%;
        background-color: var(--primary-000);
        border: 1px solid var(--primary-200);
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        margin-bottom: 30px;
        color: white;

        &:focus {
          border: 1px solid black;
        }
      }

      button {
        width: 40%;
        margin-bottom: 20px;
        background-color: var(--primary-200);
        border-radius: 10px;
        padding: 5px 5px;
        font-size: 16px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .backToLogIn {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      align-items: center;
      cursor: pointer;

      .back {
        color: var(--primary-200);
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }
}
