.share {
  width: 100%;

  border-radius: 10px;
  background-color: white;
  /* box-shadow */
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.shareTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shareInput {
  width: 85%;
  padding: 15px;
  border-radius: 25px;
  height: 50px;
}
.shareInput:focus {
  outline: none;
}

.shareBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
    width: 100%;
    display: flex;
    margin-left: 15%;
    justify-content: space-between;

  flex-wrap: wrap;
}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 14px;
  cursor: pointer;
  padding: 10px 4px 10px 4px;
  background-color: white;

  border-radius: 3px;
}
.shareOption:hover {
  background-color: rgb(222, 222, 222);
}

.shareIcon {
  margin-right: 6px;
  font-size: 22px;
}
.shareHr {
  background-color: gray;
  height: 1px;
  border: none;
  margin-bottom: 10px;
}

.shareOptionText {
  font-size: 14px;
}
