@import "/public/assets/css/variablesAndThemes/variables.scss";

.Navbar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height;
  background-color: #222222;
  color: var(--txt-000);
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  transition: 0.2s linear;
  z-index: $z-navbar;

  &.hide {
    top: -100%;
    transition: all 0.2s ease-in-out;
  }

  &.active {
    top: 0;
    transition: all 0.2s ease-in-out;
  }

  .logo {
    border-radius: 50%;
  }

  .links_container {
    display: flex;
    margin-left: 60px;
    align-items: center;
    gap: 20px;
    color: var(--txt-300);

    .link,
    .link_dropdown {
      cursor: pointer;
    }

    .link_dropdown {
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        font-size: 1.8rem;
      }
    }
  }

  .search_container {
    margin-left: auto;
    width: 400px;
    height: max-content;
    border-radius: $br-0;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 7px 2.5rem;
    padding-right: 1.5rem;
    color: var(--txt-000);
    background: var(--txt-400);
    margin-right: 20px;

    input {
      font-size: 1.3rem;
      width: 100%;
      background: transparent;
      color: var(--txt-200);
      border: none;
      outline: none;
    }

    svg {
      font-size: 2rem;
      margin-left: 20px;
      color: var(--txt-200);
      cursor: pointer;
    }
  }

  .utils_container {
    .login_signup {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--txt-300);

      .auth_btn {
        // background: var(--primary-200);
        border: 2px solid var(--txt-400);
        padding: 7px 20px;
        border-radius: $br-0;
        cursor: pointer;
      }
    }

    .logged_in {
      display: flex;
    }
  }

  .authenticated_container {
    .avatar {
      width: max-content;
      height: max-content;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: 2rem;
    }

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }

  .sidebar_container {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    width: 30rem;
    background: var(--primary-000);
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px rgba($color: rgb(98, 98, 98), $alpha: 0.1);

    &.open {
      transform: translateX(0);
    }
  }
}