:root {
  /* named colors */
  --purple: rgb(123, 31, 162);
  --violet: rgb(129, 88, 201);
  --pink: rgb(218, 102, 141);
  --green: #379c7d;
  --dark-blue: #0e1218;
  --black: #0f0f0f;
  --orange: #e25932;
  --blue: #2884ff;

  /* neutral */
  --neutral-light-000: #ffff;
  --neutral-light-100: #f1f4f6;
  --neutral-light-200: #c8c8c8;
  --neutral-light-300: #979797;
  --neutral-light-400: #343434;
  --neutral-light-500: #252628;
}
